[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colored = "*"
graphviz = "*"
hbmqtt = "*"
paho-mqtt = "*"
pyyaml = "*"

[dev-packages]
coverage = "==4.4.*"
coveralls = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"
